.movie-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px;
}

.movie-description {
  border: 2px solid #a8a821;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #1a1a1a;
  text-align: center;
  text-wrap: wrap;
}

.movie-description:hover {
  transform: scale(1.03);
}

body {
  background-color: black;
}

.language-and-release-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.language-and-release-div h3 {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

.movie-description hr {
  width: 100%;
  border: none;
  border-top: 3px solid #a8a821;
  margin: 10px 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* For webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  border: 2px solid transparent;

  min-height: 20px;
}

.search-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.logo {
  color: #a8a821;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .movie-container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 15px;
  }

  .movie-description {
    width: 95%;
    height: auto;
    padding: 15px;
  }

  nav {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  nav a {
    font-size: 20px !important;
  }
}
